Makefile
Makefile.in
stamp-*
config.*
/autom4te.cache/
/aclocal.m4
/configure
/libtool
*.lo
*.o
*.la
.deps/
.libs/
build/

*.pot

po/Makefile.in.in
po/POTFILES
po/Makevars.template
po/Rules-quot
po/*.gmo
po/*.header
po/*.sed
po/*.sin

help/*/
!help/C/
